<!-- <img src="http://res.cloudinary.com/df0hftplx/image/upload/v1493801032/imageedit_17_7332249779_xncuru.png" alt="The Renaissance Man"> -->

<% multiple = ["THE RENAISSANCE HOTEL∙THE RENAISSANCE HOTEL∙THE RENAISSANCE HOTEL HONG KONG∙THE RENAISSANCE HOTEL SEOUL∙THE RENAISSANCE KUALA LUMPUR∙"] %>

<div class="brown-background">
  <% multiple.each do |renaissance| %>
  <div class="multiple-words">
    <%= renaissance * 7 %>
      <span class="accent-word">
        <%= "THE RENAISSANCE MAN∙" %>
      </span>
      <%= renaissance * 23 %>
      <span class="accent-word">
        <%= "COMING SOON∙" %>
      </span>
      <%= renaissance * 29 %>
  </div>
  <% end %>
</div>
